@font-face {
    font-family: samim;
    src: url(fonts/samim/Samim-Bold-FD.eot);
    src: url(fonts/samim/Samim-FD.eot) format('embedded-opentype'),
    url(fonts/samim/Samim-Bold-FD.ttf) format('truetype'),
    url(fonts/samim/Samim-FD.ttf) format('truetype'),
    url(fonts/samim/Samim-Bold-FD.woff) format('woff'),
    url(fonts/samim/Samim-FD.woff) format('woff'),
    url(fonts/samim/Samim-Bold-FD.woff2) format('woff');
url(fonts/Samim-bold-FD/Samim-FD.woff2) format('woff');
}

body {
    color: #464646;
    font-family: samim, sans-serif;
    font-size: 15px;
    line-height: 1.42857143;
    padding: 0 !important;
    margin: 0;
    background-color: #ffffff;
    overflow-x: hidden;
}

a, b, h1, h2, h3, h4, h5, h6 {
    font-family: samim, sans-serif
}

a, b {
    color: #a5a5a5;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
    text-decoration: none;
}

a:hover {
    color: #b3fdd3
}

h1 {
    font-size: 1.5rem;
    margin-bottom: 1.7rem
}

h2 {
    font-size: 1.3rem;
    margin-bottom: 1.5rem
}

h3 {
    font-size: 1.13rem;
    margin-bottom: 1.3rem
}

h4 {
    font-size: 1rem;
    margin-bottom: 1rem
}

h5 {
    font-size: .9rem;
    margin-bottom: 1rem
}

h6 {
    font-size: .7rem;
    margin-bottom: 1rem
}

p, span {
    font-family: samim, sans-serif;
    line-height: 30px;
    color: #303030;
    font-size: 12px;
}

p.text, span.text {
    word-break: keep-all;
    overflow-wrap: break-word;
    white-space: pre-line;
}

ul {
    display: block;
    text-align: right;
    list-style: none;
    padding: 0;
}

.cursor {
    cursor: pointer;
}



/*////////////////////////////////// swiper////////////////////*/
.swiper-container {
    width: 100% !important;
    height: auto!important;
    padding:0;
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.swiper-button-next,
.swiper-container-rtl .swiper-button-prev,
.swiper-button-prev,
.swiper-container-rtl .swiper-button-next{
    background-image: none;
    fill: #979797;
}
.productsShop .pre-and-nex{
    width: 40px !important;
    height: 40px !important;
}
.pre-and-nex{
    -webkit-transition: 500ms;
    -moz-transition: 500ms;
    -ms-transition: 500ms;
    -o-transition: 500ms;
    transition: 500ms;
    background-color: #ebebebe6;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    border: 4px solid #fff0;
}
.pre-and-nex:hover{
    background-color: #ebebebb3;
}
.swiper-button-prev, .swiper-container-rtl .swiper-button-next{
    right: 54px;
}
.next-button-productsShop, .swiper-container-rtl .prev-button-productsShop {
    left: 15px;
}
