@font-face {
    font-family: samim;
    src: url(fonts/samim/Samim-Bold-FD.eot);
    src: url(fonts/samim/Samim-FD.eot) format('embedded-opentype'),
    url(fonts/samim/Samim-Bold-FD.ttf) format('truetype'),
    url(fonts/samim/Samim-FD.ttf) format('truetype'),
    url(fonts/samim/Samim-Bold-FD.woff) format('woff'),
    url(fonts/samim/Samim-FD.woff) format('woff'),
    url(fonts/samim/Samim-Bold-FD.woff2) format('woff');
url(fonts/Samim-bold-FD/Samim-FD.woff2) format('woff');
}

@font-face {
    font-family: FontAwesome;
    src: url(fonts/fontAwesome/fa-regular-400.eot);
    src: url(fonts/fontAwesome/fa-solid-900.eot) format('embedded-opentype'),
    url(fonts/fontAwesome/fa-brands-400.ttf) format('truetype'),
    url(fonts/fontAwesome/fa-regular-400.ttf) format('truetype'),
    url(fonts/fontAwesome/fa-regular-400.woff) format('woff'),
    url(fonts/fontAwesome/fa-brands-400.woff) format('woff'),
    url(fonts/fontAwesome/fa-brands-400.woff2) format('woff');
url(fonts/fontAwesome/fa-regular-400.woff2) format('woff');
}

body {
    color: #464646;
    font-family: samim, sans-serif;
    font-size: 15px;
    line-height: 1.42857143;
    padding: 0 !important;
    margin: 0;
    background-color: #ffffff;
    overflow-x: hidden;
}

a, b, h1, h2, h3, h4, h5, h6 {
    font-family: samim, sans-serif
}

a, b {
    color: #a5a5a5;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
    text-decoration: none;
}

a:hover {
    color: #b3fdd3
}

h1 {
    font-size: 1.5rem;
    margin-bottom: 1.7rem
}

h2 {
    font-size: 1.3rem;
    margin-bottom: 1.5rem
}

h3 {
    font-size: 1.13rem;
    margin-bottom: 1.3rem
}

h4 {
    font-size: 1rem;
    margin-bottom: 1rem
}

h5 {
    font-size: .9rem;
    margin-bottom: 1rem
}

h6 {
    font-size: .7rem;
    margin-bottom: 1rem
}

p, span {
    font-family: samim, sans-serif;
    line-height: 30px;
    color: #303030;
    font-size: 12px;
}

p.text, span.text {
    word-break: keep-all;
    overflow-wrap: break-word;
    white-space: pre-line;
}

ul {
    display: block;
    text-align: right;
    list-style: none;
    padding: 0;
}

.cursor {
    cursor: pointer;
}

