<section>
    <div class="container-fluid bg-blue-light">
        <h3 class="text-right line-height-3 mr-3 text-white m-0">
            پروفایل کاربر
        </h3>
    </div>
</section>

<style>
    .bg-blue-light{
        background-color: #8bc1be;
    }
    .line-height-3{
        line-height: 3rem;
    }
</style>