<section>
    <div class="home-background">

    </div>
</section>

<style>

    .home-background{
        background-image: url("/apps/mainPage/assets/img/body/home-bg.png");
        height: 100vh;
    }

</style>